h1 {
  color: Black;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 60px;
  background: linear-gradient(90,);
  
}

h2{
  color: Black;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 60px;
  background: linear-gradient(90,);
  

  }
body {
  background: linear-gradient (to bottom,#04c665);
}
